html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: var(--font-light);
}

:root {
  --font-light: #F7F7F7;
  --font-dark: #333333;
  --font-grey: #666666;
  --orange-main: #CD6326;
  --orange-light: #E39128;
  --orange-dark: #8F5613;
  --header-font: "Roboto";
  --main-font: "Open Sans";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background: #020A0D url("./assets/images/survival.png") no-repeat top center;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  padding-top: 15px;
  display: flex;
}
.logo-container .svg-logo {
  cursor: pointer;
}
.logo-container .svg-logo:hover path {
  fill: var(--orange-light);
  transition: 0.5s;
}
.logo-container .logo {
  margin-left: 15px;
  font-family: var(--header-font);
  font-size: 2rem;
  cursor: pointer;
  line-height: 60px;
  text-transform: uppercase;
  text-decoration: none;
  color: #F1F1F1;
}
.logo-container .logo:hover {
  transition: 0.5s;
  color: var(--orange-light);
}

.nav {
  display: flex;
  align-items: center;
}

.header-list {
  padding-top: 15px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-right: 65px;
}

.header-item {
  margin-right: 60px;
  list-style: none;
  font-size: 1.5rem;
  line-height: 60px;
}
.header-item:last-child {
  margin-right: 0;
}
.header-item a {
  color: var(--font-light);
  text-decoration: none;
}
.header-item a:hover {
  transition: 0.5s;
  color: var(--orange-light);
}
.header-item button {
  cursor: pointer;
}
.header-item .search {
  height: 23px;
  width: 23px;
  cursor: pointer;
}
.header-item .search:hover path {
  transition: 0.5s;
  fill: var(--orange-light);
}

.sign-in {
  width: 120px;
  height: 50px;
  font-family: "Roboto";
  font-size: 23px;
  line-height: 27px;
  color: var(--font-light);
  border: 2px solid var(--orange-main);
  border-radius: 5px;
  background: none;
  padding: 0 23px;
  cursor: pointer;
}
.sign-in:hover {
  transition: 0.5s;
  background: var(--orange-main);
}
.sign-in:hover:active {
  transition: 0.5s;
  background: var(--orange-dark);
  border-color: var(--orange-dark);
}

.survival {
  height: 700px;
  background: #020A0D url("./assets/images/survival.png") no-repeat center -82px;
}

.title {
  margin: 0;
  padding-top: 7.5rem;
  color: var(--orange-main);
  font-size: 3rem;
  font-weight: 400;
  line-height: 4.5rem;
  letter-spacing: 2px;
}

.survival-text {
  margin-top: 50px;
  width: 274px;
  height: 108px;
  font-size: 18px;
  line-height: 27px;
}

.survival-button {
  margin-top: 30px;
  font-size: 23px;
  width: 160px;
  height: 60px;
  background: var(--orange-main);
  border: 1px solid var(--orange-main);
  border-radius: 5px;
  color: var(--font-light);
  cursor: pointer;
}
.survival-button:hover {
  transition: 0.5s;
  background: var(--orange-light);
}
.survival-button:active {
  transition: 0.5s;
  background: var(--orange-dark);
  border-color: var(--orange-dark);
}

.articles {
  height: 1368px;
  background: #CCCCCC;
}
.articles .title {
  margin: 0;
  padding-top: 120px;
  font-size: 3rem;
  font-weight: 400;
  line-height: 4.5rem;
  letter-spacing: 2px;
  text-align: center;
  color: var(--font-dark);
}
.articles .subtitle {
  font-size: 24px;
  line-height: 36px;
  color: var(--font-grey);
  text-align: center;
}
.articles .animal-card {
  width: 300px;
  height: 360px;
}
.articles .carousel {
  display: flex;
  margin: 0 auto;
  margin-top: 120px;
  align-items: center;
}
.articles .carousel .animal-card {
  width: 300px;
  height: 360px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.articles .carousel .animal-card .name {
  margin-bottom: 10px;
}
.articles .carousel .animal-card .card-text {
  margin-bottom: 40px;
}
.articles .carousel .animal-card:hover {
  transition: 0.7s;
  transform: scale(1.05);
}
.articles .carousel .animal-card:nth-child(2) {
  background: url("./assets/images/deer.jpg");
  margin-right: 60px;
}
.articles .carousel .animal-card:nth-child(3) {
  background: url("./assets/images/squirrel.jpg");
  margin-right: 60px;
}
.articles .carousel .animal-card:nth-child(4) {
  background: url("./assets/images/bird.jpg");
}

.left-arrow, .right-arrow {
  cursor: pointer;
}
.left-arrow:hover path, .right-arrow:hover path {
  transition: 0.5s;
  fill: white;
}

.left-arrow {
  margin-right: 60px;
}

.right-arrow {
  margin-left: 60px;
}

.email-container {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.email-title {
  margin-top: 240px;
  font-weight: 400;
  font-size: 27px;
  line-height: 40px;
  text-align: center;
  color: var(--font-dark);
}

.email {
  max-width: 540px;
  width: 100%;
  height: 60px;
  margin-right: -4px;
  background: none;
  border: 1px solid #666666;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 23px;
  line-height: 27px;
}

input:focus {
  outline: none !important;
}

.email-button {
  width: 120px;
  height: 60px;
  background: var(--orange-main);
  border: 1px solid var(--orange-main);
  border-radius: 0px 5px 5px 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 27px;
  color: var(--font-light);
  cursor: pointer;
}
.email-button:hover {
  transition: 0.5s;
  background: var(--orange-light);
}
.email-button:hover:active {
  transition: 0.5s;
  background: var(--orange-dark);
  border-color: var(--orange-dark);
}

.email::placeholder {
  text-indent: 15px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 23px;
  line-height: 27px;
}

input.email {
  box-sizing: border-box;
  text-indent: 15px;
}

.footer {
  height: 360px;
  background: url("./assets/images/footer.png") no-repeat top center, #020A0D;
}
.footer .container {
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer .footer-nav {
  display: flex;
  align-items: center;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-item {
  list-style: none;
  margin-right: 85px;
}

.footer-link {
  color: var(--font-light);
  text-decoration: none;
  font-weight: 400;
  font-size: 23px;
  line-height: 60px;
}
.footer-link:hover {
  transition: 0.5s;
  color: var(--orange-light);
}

.media-list {
  display: flex;
  flex-wrap: wrap;
}
.media-list li {
  list-style: none;
  margin-right: 25px;
}
.media-list li:hover .paint {
  transition: 0.5s;
  fill: var(--orange-light);
}

@media (max-width: 1200px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 900px) {
  .container {
    padding: 0 20px;
  }
  .articles .carousel {
    justify-content: center;
  }
  .articles .carousel .left-arrow {
    margin-right: 20px;
  }
  .articles .carousel .right-arrow {
    margin-left: 20px;
  }
  .articles .carousel .animal-card:nth-child(2) {
    display: none;
  }
  .articles .carousel .animal-card:nth-child(3) {
    margin-right: 0;
  }
  .articles .carousel .animal-card:nth-child(4) {
    display: none;
  }
  .footer-list {
    flex-flow: column;
  }
  .footer-item {
    margin-right: 25px;
  }
  .media-list li {
    margin-right: 15px;
  }
}
@media (max-width: 800px) {
  .container {
    max-width: 700px;
  }
  .header-list .header-item {
    margin-right: 40px;
    font-size: 1rem;
  }
  .logo-container .logo {
    font-size: 1.5rem;
  }
  .sign-in {
    width: 100px;
    height: 35px;
    font-size: 1rem;
  }
  .survival-button {
    width: 120px;
    height: 40px;
    font-size: 1rem;
  }
}
@media (max-width: 700px) {
  .title {
    padding-top: 4rem;
    font-size: 2.5rem;
  }
  .survival-text {
    margin-top: 25px;
  }
  .header-list, .footer-list {
    display: none;
  }
  .survival {
    height: 500px;
    background: #020A0D url(./assets/images/survival.png) no-repeat center -76px;
    position: relative;
  }
  .survival::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(5px);
  }
  .email-title {
    margin-top: 120px;
  }
  .footer > .container > .logo-container {
    display: none;
  }
  .footer, .footer > .container {
    height: 180px;
  }
}

/*# sourceMappingURL=styles.css.map */
